<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>workShop03_02</display-name>
  <filter>
    <filter-name>LoginChkF</filter-name>
    <filter-class>com.squirrel.Filter.LoginChkFilter</filter-class>
    <init-param>
      <param-name>anonymousUrl</param-name>
      <param-value>



/MemberUIServlet,/LoginUIServlet,/LoginServlet,/MultiCheckServlet,/MemberAddServlet,/AdminPageUIServlet
/AdminModifiedUIServlet,/AdminModifiedServlet

/ProductServlet


/ReviewListServlet


/main.jsp



/show/top/assets/js/index.js



.css
.jpg
.js
</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginChkF</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>